<h1>Give me that new URL!</h1>
<h4><i>Please make sure you include http://</i></h4>

<%= render 'form' %>

<FONT FACE="modern"><%= link_to 'BACK THAT UP!', urls_path %></FONT>
<br \>
<br \>
<br \>
<img src="http://userserve-ak.last.fm/serve/_/9137697/Cher+60s.jpg" alt="CHER"/>